body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fa;
}

header {
  background: #1e293b;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  padding: 20px;
}

.card-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  min-width: 180px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.income {
  color: green;
}

.expense {
  color: red;
}


.bar {
  height: 10px;
  background: #3b82f6;
  border-radius: 5px;
}


table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-top: 10px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background: #e2e8f0;
}


input, select {
  padding: 8px;
  margin: 5px 0;
}

button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
  border: none;
  background: #3b82f6;
  color: white;
  border-radius: 5px;
}

button:hover {
  background: #2563eb;
}

@media (max-width: 600px) {
  .card-container {
    flex-direction: column;
  }
}



